ion-content {
  --background: null;
  background: linear-gradient(
    180deg,
    rgba(231, 51, 124, 1) 0%,
    rgba(103, 23, 51, 1) 100%
  );
  width: 100%;
}

ion-title.title-large {
  color: rgb(14, 13, 14);
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 15px;
  width: 180px;
}

ion-title.title-small {
  margin-top: 10px;
  color: rgb(14, 13, 14);
}

.icon {
  width: 35px;
  height: 35px;
  padding: 5%;
  color: rgb(14, 13, 14);
  margin: 0%;
}

.input {
  background: #f7f3f3;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  width: 298px;
  height: 54px;
  color: #111111;
  border-radius: 10px;
  border: 1.5px solid #0f0f0f;
}
