<ion-header> </ion-header>
<ion-content>
  <center>
    <ion-row>
      <ion-col>
        <div>
          <ion-button fill="clear" (click)="back()">
            <ion-icon name="arrow-back" class="icon"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div><ion-title size="large" slot="end">INICIO</ion-title></div>
      </ion-col>
      <ion-col>
        <div>
          <ion-button fill="clear" (click)="carrito()">
            <ion-icon name="cart" class="icon"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <app-catalog></app-catalog>
  </center>
</ion-content>
