<ion-header>

</ion-header>

<ion-content class="back">
  <center>
    <div class="title">

      <h1>Gestion Clientes</h1>
    </div>
    &nbsp;&nbsp;
    <ion-button color="dark" expand="block" class="button" (click)="modificarCliente()">Modificar Cliente</ion-button>
    &nbsp;&nbsp;
    <ion-button color="dark" expand="block" class="button" (click)="eliminarCliente()">Eliminar Cliente</ion-button>
    &nbsp;&nbsp;
    <ion-button color="dark" expand="block" class="button">Consultar Historial</ion-button>

    &nbsp;&nbsp;
    <ion-button color="dark" expand="block" class="exit-button" (click)="back()">Menu Principal</ion-button>


  </center>
</ion-content>