<ion-header>
  
</ion-header>

<ion-content>
  <center>
    <p></p>
    <ion-title size="large" slot="end">ELIMINAR CLIENTE</ion-title>
    <p></p>
  

<div [formGroup]="registerForm">
  
  <ion-input color="dark" expand="block" placeholder="Id del Cliente" class="button" formControlName="IdCliente" type="number" > </ion-input>
  <p></p>
  

  <ion-button color="dark" expand="block" class="button" (click)="crear()">Eliminar</ion-button>
</div>
<ion-button color="dark" expand="block" class="button" (click)="back()">Salir</ion-button>

</center>
</ion-content>
