<ion-header>
</ion-header>

<ion-content class="back">
  <center>
    <div class="title">

      <h1>Gestion Pedidos</h1>
    </div>
    &nbsp;&nbsp;
    <ion-button color="dark" expand="block" class="button" (click)="modificarPedido()">Modificar Pedido</ion-button>
    &nbsp;&nbsp;
    <ion-button color="dark" expand="block" class="button" (click)="eliminarPedido()">Eliminar Pedido</ion-button>
    
    &nbsp;&nbsp;
    <ion-button color="dark" expand="block" class="exit-button" (click)="back()">Menu Principal</ion-button>


  </center>
</ion-content>
