<ion-header>
</ion-header>

<ion-content>
  <center>
    <p></p>
  <ion-title size="large" slot="end">MODIFICAR PEDIDO</ion-title>
  <p></p>
    

  <div [formGroup]="registerForm">
    <ion-input color="dark" expand="block" placeholder="ID Pedido" class="button" formControlName="IdPedido" type="number" > </ion-input>
    <p></p>

    <ion-button color="dark" expand="block" class="button" (click)="modificar()">Modificar</ion-button>
  </div>
  <ion-button color="dark" expand="block" class="button" (click)="back()">Salir</ion-button>

</center>
</ion-content>
