<ion-header>

</ion-header>

<ion-content>
  <center>
    <div class="title">
      <h1>Administracion</h1>
    </div>


    &nbsp;&nbsp;
    <ion-button color="dark" expand="block" class="button" (click)="gestionAlimentos()">Gestion Alimentos</ion-button>
    &nbsp;&nbsp;
    <ion-button color="dark" expand="block" class="button" (click)="gestionClientes()">Gestion Clientes</ion-button>
    &nbsp;&nbsp;
    <ion-button color="dark" expand="block" class="button" (click)="gestionTiempos()">Gestion Tiempos</ion-button>
    &nbsp;&nbsp;
    <ion-button color="dark" expand="block" class="button" (click)="gestionPedidos()">Gestion Pedidos</ion-button>
    &nbsp;&nbsp;
    <ion-button color="dark" expand="block" class="button" (click)="back()">Salir</ion-button>
  </center>

</ion-content>