.title {
    color: #FFFFFF;
    font-size: 60px;
  }

ion-content {
  --background: null;
  background: linear-gradient(
    0deg,
    rgba(200, 33, 102, 1) 0%,
    rgba(25, 4, 13, 1) 98%,
    rgba(22, 2, 11, 1) 100%
  );
  width: 100%;
}
  
.button {
  background: #000000;
  
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;

  width: 298px;
  height: 54px;
  left: 31px;
  top: 706px;
  color: #FFFFFF;
  
  border-radius: 10px;
}
.exit-button {
  position: absolute;
top: 700px;

background: #000000;
border-radius: 10px;
}