<ion-header>

</ion-header>

<ion-content class="back">
  <center>
    <div class="title">

      <h1>Gestion Alimentos</h1>
    </div>
    &nbsp;&nbsp;
    <ion-button color="dark" expand="block" class="button">Agregar Alimento</ion-button>
    &nbsp;&nbsp;
    <ion-button color="dark" expand="block" class="button">Elminar Alimento</ion-button>
    &nbsp;&nbsp;
    <ion-button color="dark" expand="block" class="button">Modificar Alimento</ion-button>

    &nbsp;&nbsp;
    <ion-button color="dark" expand="block" class="exit-button" (click)="back()">Menu Principal</ion-button>


  </center>
</ion-content>