<ion-header> </ion-header>

<ion-content>
  <ion-button fill="clear">
    <ion-icon name="home" class="icon"></ion-icon>
  </ion-button>
  <center>
    <ion-title size="large" slot="end">CARRITO DE COMPRAS</ion-title>
    <div class="list">
      <ion-row>
        <ion-col>
          <div><ion-title size="small">Producto</ion-title></div>
        </ion-col>
        <ion-col>
          <div><ion-title size="small">Precio</ion-title></div>
        </ion-col>
        <ion-col>
          <div><ion-title size="small">Cantidad</ion-title></div>
        </ion-col>
        <ion-col>
          <div><ion-title size="small">Subtotal</ion-title></div>
        </ion-col>
        <ion-col>
          <div>
            <ion-button fill="clear">
              <ion-icon name="trash" class="icon-trash"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <ion-title size="small" slot="end">TOTAL ₡</ion-title>
    <div class="ion-btn-content">
      <ion-button color="dark" expand="block" class="button">
        CONFIRMAR COMPRA
      </ion-button>
    </div>
  </center>
</ion-content>
